html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

body {
    font-family: "Lucida Grande", Georgia;
    font-size:12px;
    width:960px;
    margin: 2em auto;
    line-height:1.6;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3, h4 { font-size: 1.5em; }
h5, h6 { font-size: 1.3em; }

a {
    color: black;
    
    &:hover {
        color:white;
        background:black;
    }
}

ul.posts {
    .meta { font-size: 0.9em; }
}

header {
    overflow:auto;
    
    ul a {
        display:block;
        float:left;
        padding:6px 12px;
        color: #333;
        text-decoration:none;
        &:hover {
            background:none;
            color: black;
            text-decoration:underline;
        }
    }
    ul.primary {
        float:left;
        width:500px;
    }
    ul.secondary {
        float:right;
        width:150px;
    }
}