<ul class="posts">

<% @posts.each do |post| %>
  <li class="post">
    <%= link_to post.title, post.link.blank? ? post : post.link %><br/>
    <span class="meta"> by <%= link_to post.user.username, post.user %> | <%= time_ago_in_words(post.created_at) %> ago | <%= link_to "Discuss", post %></span>
  </li>
<% end %>

</ul>
